# development or production
NODE_ENV=
HOST=
PORT=
# link til mongodb
DB_URL=
# webtoken secret noget langt og tilfældigt
JWT_SECRET=
# refreshtoken secret noget langt og tilfældigt
REFRESH_TOKEN_SECRET=
# Når man opdaterer terms fx 1.0.0
TERMS_VERSION=
# mailservice
MAIL_USER=
MAIL_PASSWORD=
# email secret er noget langt og tilfældigt
EMAIL_SECRET=
# link til frontend
FRONTEND_URL=
# reset secret til password, noget langt og tilfældigt
PASSWORD_RESET_SECRET=
# backend url
BASE_URL=
# Stripe keys
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
# Shipmondo Credentials (Hentes under din profil hos Shipmondo)
# Production
SHIPMONDO_API_USER=
SHIPMONDO_API_KEY=

# Sandbox
SHIPMONDO_API_USER_SANDBOX=
SHIPMONDO_API_KEY_SANDBOX=


# Standard fragtindstillinger
# (Ændres i forhold til Shipmondo aftale, fx dao, DAO_STH, 1)
SHIPMONDO_CARRIER_CODE=
SHIPMONDO_PRODUCT_CODE=
SHIPMONDO_SERVICE_ID=

# Admin notifikationer (Hvis fragt fejler, sender systemet en mail herhen)
ADMIN_EMAIL=